﻿@{
	ViewData["Title"] = "Home Page";
}
@section Styles{
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
}

<div class="text-center">
	<h1 class="display-4">Consulta DNI (JNE)</h1>
</div>
<div class="container">
	<div class="row mb-4">
		<div class="col-md-4">
			<input id="txtBusqueda" type="text" class="form-control" placeholder="Ingresar un texto" value="45454545" maxlength="8" />
		</div>
		<div class="col">
			<button id="btnConsultar" class="btn btn-primary">Consultar</button>
		</div>
	</div>
	<div id="rowAlert" class="row"></div>
	<div id="rowResultado" class="row"></div>
</div>

@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@@2.1.7/dist/loadingoverlay.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

	<script>
		const UISleep = m => new Promise(r => setTimeout(r, m));
		$(document).ready(async function () {
			$('#btnConsultar').on('click', async function () {
				var jsonParam = {
					dni: document.getElementById('txtBusqueda').value,
				};
				await UILoadingOverlay("show");
				await UI.XMLHttp.invokeMethodAsync('/ajax/jne/ConsultaDNI', jsonParam).then(function (r) {
					if (r.success) {
						Swal.fire('Buen Trabajo!', r.data, 'success');
					}
					else {
						Swal.fire('Ups!', r.mensaje, 'warning');
					}
				});
				UILoadingOverlay("hide");
			});
		});
		var UILoadingOverlay = async function (accion) {
			if (accion == "show") {
				await $.LoadingOverlay('show', {
					text: "Por favor espere...",
					textClass: "text-white us-n",
					background: "rgba(0, 0, 0, 0.5)",
				});
				await UISleep(200);
			}
			else if (accion = "hide") {
				await $.LoadingOverlay('hide');
				await UISleep(200);
			}
		}
	</script>
}